.green-row { 
    background-color: hsl(120, 40%, 80%);
}

.pink-row {
    background-color: hsl(340, 40%, 80%);
}

.green-row:hover {
    background-color: hsl(120, 40%, 70%); 
    cursor: pointer;
}

.pink-row:hover {
    background-color: hsl(340, 40%, 70%); 
    cursor: pointer;
}
